.form-chiket{
  text-align: center;
}
.form-button{
  text-align: center;
}
.table-test{
width: 100%;
border-collapse: collapse;
}
.table-test th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #98FB98;
border: 1px solid #32CD32;
}
.table-test td{
padding: 6px;
background-color: #fff;
border: 1px solid #32CD32;
}
