.create{
    padding-top: 10px;
}
.create table{
  margin-left:auto;
  margin-right: auto;

}

table{
  width: 500px;
  border-collapse: collapse;
  border-top: 1px solid #0099CC;
  border-left: 1px solid #0099CC;
}
th,td{
  border-bottom: 1px solid #0099CC;
  border-right: 1px solid #0099CC;
  padding: 3px;

  width: 20%;
  white-space: nowrap;
}
th{
  color: #FFFFFF;
  background: #0099CC;
}
.button{
  text-align: center;
}
